<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="style.css">  
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" 
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="app">
            <div class="cont">
                    <div>
                        <div class="bx"> 
                            <div class="inner-bx">
                                <div class="date">
                                    <label for="client">Client Name</label>
                                    <input
                                        id="client"
                                        v-model="client"
                                        type="text"
                                        name="client"
                                    >
                                </div>
                                <div class="date">
                                    <label for="name">Full Name</label>
                                    <input
                                        id="name"
                                        v-model="name"
                                        type="text"
                                        name="name"
                                    >
                                </div>
                            </div>
                            <div class="inner-bx">
                                <div class="date">
                                    <label for="email">Email</label>
                                    <input 
                                        id="email"
                                        v-model="email"
                                        type="email"
                                        name="email"
                                    >
                                </div>
                                <div class="date">
                                    <label for="adress">Adress</label>
                                    <input
                                        id="adress"
                                        type="adress"
                                        name="adress"
                                        v-model="adress"
                                    >
                                </div>
                            </div>
                            
                            <div class="inner-bx">
                                <div class="date">
                                    <label for="issuepick">Invoice Date</label>
                                    <vuejs-datepicker name="issuepick" v-model="issue_date"></vuejs-datepicker><br/>
                                </div>
                                <div class="date">
                                    <label for="duepick" >Due Date </label>
                                    <vuejs-datepicker v-model="due_date"  name="duepick" ></vuejs-datepicker><br/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>TVQ</th>
                                    <th>TPS</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr v-for="(line, index) in invoice_lines" >
                                    <td>
                                        <button type="button" class="btn btn-light text-danger" @click="removeLine(index)">
                                          <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <input
                                            id="line.index"
                                            type="text"
                                            name="description"
                                            v-model="line.description"
                                        >
                                    </td>
                                    <td>
                                        <input
                                            v-model="line.price"
                                            id="line.index"
                                            type="number"
                                            name="line.index"
                                            @input="calculate(index)"
                                        >
                                    </td>
                                    <td>{{ line.TVQ }}</td>
                                    <td>{{ line.TPS }}</td>
                                    <td>{{ line.total }}</td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <br/>
                        <button type="button" class="btn btn-light text-info" @click="addLine">Add line</button>

                        <div class="total">
                            <div class="total-with">
                                <div>
                                    Total
                                </div>
                                <div>
                                    {{ GrandTotal ?? 0 }} CAD$
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        
            <div class="cont">
                <!--printable-->
                <div id="invoice">

                    <div class="page-content container">
                        <div class="page-header text-blue-d2">
                            <h1 class="page-title text-secondary-d1">
                                Invoice
                                <small class="page-info">
                                    <i class="fa fa-angle-double-right text-80"></i>
                                    ID: #111-222
                                </small>
                            </h1>

                            <div class="page-tools">
                                <div class="action-buttons">
                                    <a class="btn bg-white btn-light mx-1px text-95" @click="download" data-title="PDF">
                                        <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                                        Export
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="container px-0" id="printable">
                            <div class="row mt-4">
                                <div class="col-12 col-lg-10 offset-lg-1">
                                    <!-- .row -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div>
                                                <span class="text-sm text-grey-m2 align-middle">To:</span>
                                                <span class="text-600 text-110 text-blue align-middle">{{ name  }}</span>
                                            </div>
                                            <div>
                                                <span class="text-sm text-grey-m2 align-middle">Email:</span>
                                                <span class="text-600 text-110 text-blue align-middle">{{ email  }}</span>
                                            </div>
                                            <div>
                                                <span class="text-sm text-grey-m2 align-middle">At:</span>
                                                <span class="text-600 text-110 text-blue align-middle">{{ client  }}</span>
                                            </div>
                                            <div class="text-grey-m2">
                                                <div class="my-1">
                                                    {{ adress }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col -->

                                        <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                                            <hr class="d-sm-none" />
                                            <div class="text-grey-m2">
                                                <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                                    Invoice
                                                </div>

                                                <div class="my-2">
                                                  <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                                  <span class="text-600 text-90">ID:</span>
                                                   #111-222
                                                </div>

                                                <div class="my-2">
                                                  <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i>
                                                  <span class="text-600 text-90">Issue Date:</span>
                                                   {{ issueDate }}
                                                </div>

                                                <div class="my-2">
                                                  <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                                  <span class="text-600 text-90">Due Date:</span>
                                                   {{ dueDate }}
                                                </div>

                                                <div class="my-2">
                                                  <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                                  <span class="text-600 text-90">Status:</span> 
                                                  <span class="badge badge-warning badge-pill px-25">Unpaid</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>

                                    <div class="mt-4">
                                        <div class="row text-600 text-white bgc-default-tp1 py-25">
                                            <div class="d-sm-block col-1">#</div>
                                            <div class="d-m-block col-lg-4">Description</div>
                                            <div class="d-sm-block col-sm">Price</div>
                                            <div class="d-sm-block col-sm">TVQ</div>
                                            <div class="d-sm-block col-sm">TPS</div>
                                            <div class="d-sm-block col-sm">Total</div>
                                        </div>

                                        <div class="text-95 text-secondary-d3" v-for="(line, index) in invoice_lines">
                                            <div class="row mb-2 mb-sm-0 py-25">
                                                <div class="d-sm-block col-1">{{index +1}}</div>
                                                <div class="d-m-block col-lg-4">{{ line.description }}</div>
                                                <div class="d-sm-block col-sm">{{ line.price }}</div>
                                                <div class="d-sm-block col-sm">{{ line.TVQ }}</div>
                                                <div class="d-sm-block col-sm">{{ line.TPS }}</div>
                                                <div class="d-sm-block col-sm">{{ line.total }}</div>
                                            </div>
                                        </div>
                                        <div class="row border-b-2 brc-default-l2"></div>
                                        <div class="row mt-3 d-flex justify-content-end">
                                            <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                                                <div class="row my-2 align-items-center bgc-primary-l3 p-2">
                                                    <div class="col-7 text-right">
                                                        Total Amount
                                                    </div>
                                                    <div class="col-5">
                                                        <span class="text-150 text-success-d3 opacity-2">
                                                          {{ GrandTotal ?? 0}} CAD$
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="d-flex justify-content-center">
                                            <span class="text-secondary-d1 text-105">Thank you for your business</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of printable-->
            </div>
        </div>
        
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
            client: "",
            name: "",
            email: " ",
            adress: "",
            issue_date: "",
            due_date: "",
            invoice_lines: [
            ]
        },
        props: ['placeholder'],
        components: {
            vuejsDatepicker
        },
        methods:{
            addLine: function (){
                this.invoice_lines.push({
                    description: '',
                    price: null,
                    TVQ: null,
                    TPS: null,
                    total: null
                })
            },
            removeLine: function(index){
                this.invoice_lines.splice(index, 1);
            },
            calculate: function(index){
                this.invoice_lines[index].TVQ = (this.invoice_lines[index].price*0.05).toFixed(2);
                this.invoice_lines[index].TPS = (this.invoice_lines[index].price*0.09975).toFixed(2);
                if(this.invoice_lines[index].price !== ""){
                    total = parseInt(this.invoice_lines[index].price) + parseInt(this.invoice_lines[index].TVQ) 
                            + parseInt(this.invoice_lines[index].TPS);
                    this.invoice_lines[index].total = total.toFixed(2);
                }else{
                    this.invoice_lines[index].total = 0;
                }
                
            },
            download() {
                var HTML_Width = $("#printable").width();
                var HTML_Height = $("#printable").height();
                var top_left_margin = 15;
                var PDF_Width = HTML_Width + (top_left_margin * 2);
                var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
                var canvas_image_width = HTML_Width;
                var canvas_image_height = HTML_Height;

                var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

                html2canvas($("#printable")[0]).then(function (canvas) {
                    var imgData = canvas.toDataURL("image/jpeg", 1.0);
                    var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                    pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                    for (var i = 1; i <= totalPDFPages; i++) { 
                        pdf.addPage(PDF_Width, PDF_Height);
                        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,
                        canvas_image_height);
                    }
                    pdf.save("Your_PDF_Name.pdf");
                    $(".html-content").hide();
                });
            },
        },
        computed:{
            GrandTotal: function (){
                n=0;
                this.invoice_lines.forEach(function(line){
                    if(line.price !== null){
                        n += parseInt(line.total);
                    }
                })
                return n;
            },
            dueDate(){
                if(this.due_date !== ""){
                    return moment(this.due_date).format('MM/DD/YYYY')
                }
            },
            issueDate(){
                if(this.issue_date !== ""){
                    return moment(this.issue_date).format('MM/DD/YYYY')
                }
            }
            
          },
      });
    </script> 
  </body>
</html>

